<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	
	<title>Online Exam System</title>

	<!-- <link th:href="@{/css/swiper.css}" rel="stylesheet"> -->
	
	<!-- Swiper Slider CSS -->
	<link href="/css/swiper.css" rel="stylesheet">
	
	<!-- Custom Main StyleSheet CSS -->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/add-style.css" rel="stylesheet">
	
	<!-- Color CSS -->
 	<link href="/css/color.css" rel="stylesheet">
	
	<!-- Responsive CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">	
 	<link href="/css/responsive.css" rel="stylesheet">
	
	<!-- Other CSS -->
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/prettyPhoto.css" rel="stylesheet">
	<link href="/css/shortcodes.css" rel="stylesheet">
	<link href="/css/svg-style.css" rel="stylesheet">
	<link href="/css/typography.css" rel="stylesheet">
	<link href="/css/widget.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png">
	
</head>

<body>

<!--gt Wrapper Start-->
<div class="gt_wrapper">

    <!--Header Wrap Start-->
    <header>
    <div class="gt_top3_wrap default_width">
        <div class="container">
            <div class="gt_top3_scl_icon">
                <ul class="gt_hdr3_scl_icon">
                    <li><a href="https://www.facebook.com/Preethy-Software-Solutions-261740501090811/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/104600972449684466427"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
            </div>
            <div class="gt_hdr_3_ui_element">
                <ul>
                    <li><a href="tel:044 48656573"><i class="fa fa-phone"></i>044 48656573</a></li>
                    <li><a href="mailto:mohanraj@preethysoftwaresolutions.com"><i class="fa fa-envelope-o"></i>preethysoftwaresolutions.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gt_top3_menu default_width">
        <div class="container">
            <div class="gt-logo" style="padding:0px;height:64px;width:160px;">
                <a href="/"><img src="images/lo.jpg" alt=""></a>
            </div>
            <nav class="gt_hdr3_navigation">
                <!-- Responsive Buttun -->
                <a class="navbar-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- Responsive Buttun -->
                <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <li><a href="home">Home</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li class="active"><a href="/">Exam Category</a>
                        <ul>
                        	<li class="active"><a href="exam-php">PHP Basic</a></li>
                            <li><a href="exam-core-java">Java </a></li>
                            <li><a href="exam-dot-net">Dot.net </a></li>
                            <li><a href="exam-android">Android </a></li>
                            <li><a href="exam-sap">SAP </a></li>
                        </ul>
                    </li>
                    <li><a href="exam-aptitude">Aptitude</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                    <li><a href="login">Log Out</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>    <!--Header Wrap End-->

    <!--Main Content Wrap Start-->
    
    <!--Sub Banner Wrap Start -->
    <div class="gt_sub_banner_bg default_width">
        <div class="container">
            <div class="gt_sub_banner_hdg  default_width">
                <h3>Exam Review</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Exam Review</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End -->

    <!--Main Content Wrap Start-->
    
    <div class="gt_main_content_wrap">
        <!--About Us Wrap Start-->
        <section class="gt_about_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="title text-center">
                                <h4 style="font-size:23px">Number Of Question : 15</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <h4 class="title text-center" style="font-size:23px">Exam : PHP Basics</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="title text-center">
                                <h4 style="font-size:23px">Time : 15 Min</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="filterable-item all ">
                            <div class="gt_latest_course2_wrap default_width">
                                <figure>
                                    <img src="images/php.png" alt="" style="width: 360px; height: 275px">
                                </figure>
                                <div class="gt_latest_course_des default_width">
                                    <h5><a href="http://mcq.rexbd.net/examstart/8#">PHP Basics</a></h5>
                                    <p>So Good Exam for PHP Basics.</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="apply" style="text-align: center; margin-bottom: 10px">
                                            <a href="phpbasi" onclick="return confirm(&#39;Are You Ready For Start This Exam.&#39;);" class="btn btn-success btn-block btn-lg">Start Exam</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Us Wrap End-->

    </div>
    
    
        <!--Main Content Wrap End-->

    <!--Main Content Wrap End-->

    <!--Footer Wrap Start-->
    <footer>
        <!--Footer Wrap Start-->
<div class="gt_footer_bg default_width">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="gt_office_wrap default_width" style="margin-top: 30px; overflow: hidden">
                    <div class="gt_foo_about widget">
                        <h5 class="text-center">About Online Exam System</h5>
                        <p><strong style="margin: 0px; padding: 0px; font-family: 'Open Sans', Arial, sans-serif; text-align: justify;">Online Examination Management</strong><span style="font-family: 'Open Sans', Arial, sans-serif; text-align: justify;">&nbsp;System has been developed to cater to the examination administrative and conduct needs. The system allows an easily managed interface to be used by the institution management to ensure a smooth transfer of existing hardcopies and files on to the electronic database.</span></p>
	                        <ul>
	                            <li><a href="https://www.facebook.com/Preethy-Software-Solutions-261740501090811/"><i class="fa fa-facebook"></i></a></li>
	                            <li><a href="https://plus.google.com/104600972449684466427"><i class="fa fa-google-plus"></i></a></li>
	                        </ul>
                          </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="foo_col_outer_wrap default_width">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="widget">
                                <h5>Our Address</h5>
                                <ul class="gt_team1_contact_info">
                                    <li><i class="fa fa-map-marker"></i>New No.7, Old No.4, 4th Ave, Dr Ambedkar Rd, Ashok Nagar, Kodambakkam, Chennai - 600 024.</li>
                                    <li><a href="tel:044 48656573"><i class="fa fa-phone"></i>044 48656573</a></li>
                                    <li><a href="mailto:mohanraj@preethysoftwaresolutions.com"><i class="fa fa-envelope-o"></i>preethysoftwaresolutions.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Footer Wrap End-->

<!--Copyright Wrap Start-->
<div class="copyright_bg default_width">
    <div class="container">
        <div class="copyright_wrap default_width">
            <p><p>&copy;All Copyright Reserved</p></p>
                        <span><p>2019</p></span>
                    </div>
    </div>
</div>
<!--Copyright Wrap End-->    </footer>
    <!--Footer Wrap End-->
    <!--Back to Top Wrap Start-->
    <div class="back-to-top">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <!--Back to Top Wrap Start-->

</div>
<!--gt Wrapper End-->

    <!--Jquery Library-->
<script src="js/jquery.js"></script>
<!--Bootstrap core JavaScript-->
<script src="js/bootstrap.min.js"></script>
<!--Swiper JavaScript-->
<script src="js/swiper.jquery.min.js"></script>
<!--Accordian JavaScript-->
<script src="js/jquery.accordion.js"></script>
<!--Count Down JavaScript-->
<script src="js/jquery.downCount.js"></script>
<!--Pretty Photo JavaScript-->
<script src="js/jquery.prettyPhoto.js"></script>
<!--Owl Carousel JavaScript-->
<script src="js/owl.carousel.js"></script>
<!--Number Count (Waypoint) JavaScript-->
<script src="js/waypoints-min.js"></script>
<!--Filter able JavaScript-->
<script src="js/jquery-filterable.js"></script>
<!--WOW JavaScript-->
<script src="js/wow.min.js"></script>
<!--Custom JavaScript-->
<script src="js/custom.js"></script>
            </body>

<!-- index.html  2016 00:24:52  -->

<!-- Mirrored from mcq.rexbd.net/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 05:53:06 GMT -->
</html>
