<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	
	<title>Online Exam System</title>

	<!-- <link th:href="@{/css/swiper.css}" rel="stylesheet"> -->
	
	<!-- Swiper Slider CSS -->
	<link href="/css/swiper.css" rel="stylesheet">
	
	<!-- Custom Main StyleSheet CSS -->
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/add-style.css" rel="stylesheet">
	
	<!-- Color CSS -->
 	<link href="/css/color.css" rel="stylesheet">
	
	<!-- Responsive CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">	
 	<link href="/css/responsive.css" rel="stylesheet">
	
	<!-- Other CSS -->
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/prettyPhoto.css" rel="stylesheet">
	<link href="/css/shortcodes.css" rel="stylesheet">
	<link href="/css/svg-style.css" rel="stylesheet">
	<link href="/css/typography.css" rel="stylesheet">
	<link href="/css/widget.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="images/favicon.png">
	
</head>

<body>

<!--gt Wrapper Start-->
<div class="gt_wrapper">

    <!--Header Wrap Start-->
    <header>
    <div class="gt_top3_wrap default_width">
        <div class="container">
            <div class="gt_top3_scl_icon">
                <ul class="gt_hdr3_scl_icon">
                    <li><a href="https://www.facebook.com/Preethy-Software-Solutions-261740501090811/"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/104600972449684466427"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
            </div>
            <div class="gt_hdr_3_ui_element">
                <ul>
                    <li><a href="tel:044 48656573"><i class="fa fa-phone"></i>044 48656573</a></li>
                    <li><a href="mailto:mohanraj@preethysoftwaresolutions.com"><i class="fa fa-envelope-o"></i>preethysoftwaresolutions.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gt_top3_menu default_width">
        <div class="container">
            <div class="gt-logo" style="padding:0px;height:64px;width:160px;">
                <a href="/"><img src="images/lo.jpg" alt=""></a>
            </div>
            <nav class="gt_hdr3_navigation">
                <!-- Responsive Buttun -->
                <a class="navbar-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- Responsive Buttun -->
                <ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <li class="active"><a href="home">Home</a></li>
                    <li><a href="about-us">About Us</a></li>
                    <li><a href="/">Exam Category</a>
                        <ul>
                        	<li><a href="exam-php">PHP Basic</a></li>
                            <li><a href="exam-core-java">Java </a></li>
                            <li><a href="exam-dot-net">Dot.net </a></li>
                            <li><a href="exam-android">Android </a></li>
                            <li><a href="exam-sap">SAP </a></li>
                        </ul>
                    </li>
                    <li><a href="exam-aptitude">Aptitude</a></li>
                    <li><a href="contact-us">Contact Us</a></li>
                    <li><a href="register"> Registration</a></li>
                    <li><a href="login">Log In</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>    <!--Header Wrap End-->

    <!--Main Content Wrap Start-->
    
    <!--Sub Banner Wrap Start -->
    <div class="gt_sub_banner_bg default_width">
        <div class="container">
            <div class="gt_sub_banner_hdg  default_width">
                <h3>Exam Review</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Exam Review</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End -->



</div>
<!--gt Wrapper End-->

    <!--Jquery Library-->
<script src="js/jquery.js"></script>
<!--Bootstrap core JavaScript-->
<script src="js/bootstrap.min.js"></script>
<!--Swiper JavaScript-->
<script src="js/swiper.jquery.min.js"></script>
<!--Accordian JavaScript-->
<script src="js/jquery.accordion.js"></script>
<!--Count Down JavaScript-->
<script src="js/jquery.downCount.js"></script>
<!--Pretty Photo JavaScript-->
<script src="js/jquery.prettyPhoto.js"></script>
<!--Owl Carousel JavaScript-->
<script src="js/owl.carousel.js"></script>
<!--Number Count (Waypoint) JavaScript-->
<script src="js/waypoints-min.js"></script>
<!--Filter able JavaScript-->
<script src="js/jquery-filterable.js"></script>
<!--WOW JavaScript-->
<script src="js/wow.min.js"></script>
<!--Custom JavaScript-->
<script src="js/custom.js"></script>
            </body>

<!-- index.html  2016 00:24:52  -->

<!-- Mirrored from mcq.rexbd.net/contact-us by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Feb 2019 05:53:06 GMT -->
</html>
